@import './var.scss';

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  .el-button{
    border-radius: 4px;
  }

  // dialog
  .el-dialog{
    border-radius: 10px;
  }

  .el-dialog__footer{
    text-align: center;
  }

  .table-handle-area{
    margin-bottom: 15px;
  }

  // 表格
  .el-table th{
    background: #f3f3f3;
  }
}
